<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
  <title>Image Processing Tool</title>
</head>
<body class="bg-base-100 text-base-content">
  <div class="container mx-auto p-6 space-y-6">
    <h1 class="text-4xl font-bold text-center text-primary">Image Processing Tool</h1>

    <form method="POST" onsubmit="modifyImage(event)" enctype="multipart/form-data" class="space-y-6">
      <!-- File Upload Section -->
      <div class="card bg-base-200 shadow-md w-full sm:w-3/4 mx-auto">
        <div class="file-drop-area flex-col gap-4 h-64 border-2 border-dashed border-primary flex items-center justify-center rounded-lg cursor-pointer relative">
            <input 
            type="file" 
            id="file" 
            name="file" 
            accept="image/*" 
            required 
            class="file-input absolute inset-0 opacity-0 w-full h-full cursor-pointer" 
            aria-label="Upload your image by dragging and dropping or clicking" 
            onchange="handleFileInput(event)" />
            <div class="mt-4 hidden z-10" id="image-preview-container">
              <div class="flex justify-center">
                <button type="button" class="btn btn-primary" onclick="imagePreviewModal.showModal()">View Image</button>
              </div>
            </div>
            <p class="text-center text-primary">Drag & Drop your image here or click to upload</p>
        </div>

        <!-- Image Preview Section -->
      </div>
      <div id="result" class="hidden">
        <div class="card bg-base-200 shadow-md p-6">
          <h2 class="text-2xl font-semibold text-primary text-center mb-2">Modified Image</h2>
          <div class="flex justify-center">
            <img id="result-image" class="w-auto max-w-full h-auto" alt="Result Image" />
          </div>
          <button type="button" class="btn btn-primary btn-wide m-auto mt-3" onclick="downloadImage()">Download Image</button>
        </div>
      </div>

      <!-- Actions Section -->
      <div class="card bg-base-200 shadow-md p-6">
        <h2 class="text-2xl font-semibold text-primary">Choose Actions</h2>
        <div class="form-control space-y-4 mt-4">
          <!-- Remove Background -->
          <div class="input-group">
            <label class="label cursor-pointer flex items-center">
              <input type="checkbox" id="action-remove_bg" name="remove_bg" class="checkbox checkbox-primary" onchange="toggleInputGroup('remove_bg')" />
              <span class="label-text ml-2">Remove Background</span>
            </label>
          </div>

          <!-- Resize -->
          <div class="input-group">
            <label class="label cursor-pointer flex items-center">
              <input type="checkbox" id="action-resize" name="resize" class="checkbox checkbox-primary" onchange="toggleInputGroup('resize')" />
              <span class="label-text ml-2">Resize</span>
            </label>
            <div class="grid grid-cols-2 gap-4">
              <input type="number" name="width" placeholder="Width (px)" class="input input-bordered w-full" id="resize-width" readonly />
              <input type="number" name="height" placeholder="Height (px)" class="input input-bordered w-full" id="resize-height" readonly />
            </div>
          </div>

          <!-- Compress -->
          <div class="input-group">
            <label class="label cursor-pointer flex items-center">
              <input type="checkbox" id="action-compress" name="compress" class="checkbox checkbox-primary" onchange="toggleInputGroup('compress')" />
              <span class="label-text ml-2">Compress</span>
            </label>
            <input type="number" name="quality" placeholder="Quality (1-100)" min="1" max="100" class="input input-bordered w-full" id="compress-quality" readonly />
          </div>

          <!-- Change Format -->
          <div class="input-group">
            <label class="label cursor-pointer flex items-center">
              <input type="checkbox" id="action-change_format" name="change_format" class="checkbox checkbox-primary" onchange="toggleInputGroup('change_format')" />
              <span class="label-text ml-2">Change Format</span>
            </label>
            <select name="format" class="select select-bordered w-full" id="change-format" readonly>
              <option value="JPEG">JPEG</option>
              <option value="PNG">PNG</option>
              <option value="BMP">BMP</option>
            </select>
          </div>

          <!-- Crop -->
          <div class="input-group">
            <label class="label cursor-pointer flex items-center">
              <input type="checkbox" id="action-crop" name="crop" class="checkbox checkbox-primary" onchange="toggleInputGroup('crop')" />
              <span class="label-text ml-2">Crop</span>
            </label>
            <div class="grid grid-cols-2 gap-4">
              <input type="number" name="top" placeholder="Top (px)" class="input input-bordered" id="crop-top" readonly />
              <input type="number" name="bottom" placeholder="Bottom (px)" class="input input-bordered" id="crop-bottom" readonly />
              <input type="number" name="left" placeholder="Left (px)" class="input input-bordered" id="crop-left" readonly />
              <input type="number" name="right" placeholder="Right (px)" class="input input-bordered" id="crop-right" readonly />
            </div>
          </div>

          <!-- Rotate -->
          <div class="input-group">
            <label class="label cursor-pointer flex items-center">
              <input type="checkbox" id="action-rotate" name="rotate" class="checkbox checkbox-primary" onchange="toggleInputGroup('rotate')" />
              <span class="label-text ml-2">Rotate</span>
            </label>
            <input type="number" name="angle" placeholder="Angle (degrees)" class="input input-bordered w-full" id="rotate-angle" readonly />
          </div>

          <!-- Add Filter -->
          <div class="input-group">
            <label class="label cursor-pointer flex items-center">
              <input type="checkbox" id="action-filter" name="add_filter" class="checkbox checkbox-primary" onchange="toggleInputGroup('filter')" />
              <span class="label-text ml-2">Add Filter</span>
            </label>
            <select name="filter" class="select select-bordered w-full" id="add-filter" readonly>
              <option value="BLUR">Blur</option>
              <option value="CONTOUR">Contour</option>
              <option value="DETAIL">Detail</option>
              <option value="EDGE_ENHANCE">Edge Enhance</option>
              <option value="EMBOSS">Emboss</option>
              <option value="FIND_EDGES">Find Edges</option>
              <option value="SHARPEN">Sharpen</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="flex justify-center">
        <button type="submit" class="btn btn-primary btn-wide">Apply Changes</button>
      </div>
    </form>
  </div>
  <dialog id="imagePreviewModal" class="modal">
    <div class="modal-box w-11/12 max-w-5xl">
      <h3 class="text-lg font-bold text-center">Image Preview</h3>
      <div class="flex justify-center overflow-hidden">
        <!-- Image Preview -->
        <div class="max-w-full max-h-96 overflow-auto">
          <img id="image-preview" class="w-auto max-w-none h-auto" alt="Image Preview" />
        </div>
      </div>
      <div class="modal-action">
        <form method="dialog">
          <button class="btn">Close</button>
        </form>
      </div>
    </div>
  </dialog>
  
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>